body {
  margin: 0;
}

a {
  list-style: none;
  color: black;
}

button,
select {
  padding: 5px 10px;
  min-width: 50px;
  margin: 5px;
  font-size: 18px;
}

label {
  width: 200px;
  display: block;
}

input,
textarea {
  width: 200px;
  padding: 10px;
  display: inline-block;
  margin: 10px;
}

nav {
  background: #3b9dc7;
  color: white;
  padding: 0px 20px;
  box-shadow: 0px 1px 2px rgb(130, 8, 8);
  width: 100%;
  margin-bottom: 15px;
  padding: 5px;
}

nav li {
  list-style: none;
  color: white;
  font-size: 24px;
  font-weight: 600;
}

.SignupPage,
.LoginPage {
  background: rgb(226, 204, 231);
  border: 1px solid rgb(197, 58, 58);
  box-shadow: 0px 2px 3px rgb(119, 134, 88);
  width: 500px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
}





code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
