body {
  margin: 0;
}

.active {
  color: red;
  font-weight: bold;
}

.format {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

a {
  list-style: none;
  color: black;
}

button,
select {
  padding: 5px 10px;
  min-width: 50px;
  margin: 5px;
  font-size: 18px;
}

label {
  width: 200px;
  display: block;
}

input,
textarea {
  width: 200px;
  padding: 10px;
  display: inline-block;
  margin: 10px;
}

nav {
  background: #4ea2c7;
  color: rgb(146, 140, 235);
  padding: 0px 20px;
  box-shadow: 0px 1px 2px rgb(130, 8, 8);
  width: 100%;
  margin-bottom: 15px;
  padding: 5px;
}

nav li {
  list-style: none;
  color: rgb(118, 187, 200);
  font-size: 24px;
  font-weight: 600;
}

.HomePage
{
  background: rgb(239, 214, 90);
}



.SignUpPage,
.LoginPage {
  background: rgb(250, 246, 246);
  border: 1px solid rgb(197, 58, 58);
  box-shadow: 0px 2px 3px rgb(119, 134, 88);
  width: 500px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.page-container {
  min-height: 100vh;
  /* Make the container at least the height of the viewport */
  display: flex;
  flex-direction: column;
}

.page-content {
  flex: 1;
  /* Allow the content to grow and take up remaining space */
}

.footer {
  background-color: rgb(246, 242, 242);
  padding: 20px;
  margin-top: auto;
  /* Push the footer to the bottom */
}

